$main-color: #e02f6b;
$main-color: #FF8235;
$blue-dark: #18293c;
$white: #fff;
$white-alpha-40: rgba(255, 255, 255, 0.40);
$white-alpha-25: rgba(255, 255, 255, 0.25);
$backdrop-filter-blur: blur(5px);
$blue: #0000ff;
$orange: #ffa500;
$aqua: #30E8BF;

.border-40 {
   border-top: 1px solid $white-alpha-40;
   border-left: 1px solid $white-alpha-40;
}

.border-25 {
   border-top: 1px solid $white-alpha-25;
   border-left: 1px solid $white-alpha-25;
}

.btn {
   background-color: $white-alpha-25;
   border: none;
   border-top: 1px solid $white-alpha-25;
   border-left: 1px solid $white-alpha-25;
   padding: 10px 28px;
   border-radius: 30px;
   color: $main-color;
   font-weight: 500;
   text-transform: capitalize;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   transition: all .6s ease;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background: $main-color;
      z-index: -1;
      transition: all .6s ease;
   }

   &:hover {
      color: $white;
      border-color: $main-color;
      background: transparent;
      transition: all .6s ease;

      &::before {
         width: 100%;
      }
   }
}

::-webkit-scrollbar {
   width: 5px;

   &-track {
      background-color: $white;
   }

   &-thumb {
      background-color: $main-color;
   }
}

.title {
   padding: 0 15px;
   width: 100%;
   text-align: center;
   margin-bottom: 40px;

   h2 {
      font-size: 40px;
      text-transform: capitalize;
   }
}

.padding {
   padding: 80px 0;
}

@keyframes fadeOut {
   0% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

@keyframes zoomInOut {

   0%,
   100% {
      transform: scale(0.5);
   }

   50% {
      transform: scale(1);
   }
}

@keyframes bounceTop {

   0%,
   100% {
      transform: translateY(-50%);
   }

   50% {
      transform: translateY(0px);
   }
}

@keyframes bounceRight {

   0%,
   100% {
      transform: translateX(-10px);
   }

   50% {
      transform: translateX(0px);
   }
}