<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>My portfolio</title>
   <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
   <link rel="manifest" href="./site.webmanifest">
   <link rel="stylesheet" href="../assets/style/style.min.css">
</head>

<body>
   <div class="main hidden">
      <header class="header">
         <div class="container">
            <div class="row justify-content-end">
               <button type="button" class="burger">
                  <span></span>
               </button>
               <nav class="navbar">
                  <div class="navbar-collapse">
                     <ul class="navbar-nav">
                        <li class="nav-item"><a href="#home" class="nav-link link-item" data-content="Home">Home</a>
                        </li>
                        <li class="nav-item"><a href="#about" class="nav-link link-item" data-content="About">About</a>
                        </li>
                        <li class="nav-item"><a href="#portfolio" class="nav-link link-item"
                              data-content="Portfolio">Portfolio</a></li>
                        <li class="nav-item"><a href="#contact" class="nav-link link-item"
                              data-content="Contact">Contact</a></li>
                     </ul>
                  </div>
               </nav>
            </div>
         </div>
      </header>
      <section class="home align-items-center" id="home">
         <div class="container">
            <div class="row align-items-center">
               <div class="home__text p-15 col-12 col-lg-6">
                  <p>hello, i'm</p>
                  <h1>amantay suranaliev</h1>
                  <h2>web - developer</h2>
                  <a href="#about" class="btn home__btn link-item">more about me</a>
                  <a href="#portfolio" class="btn home__btn link-item">portfolio</a>
               </div>
               <div class="p-15 col-12 col-lg-6">
                  <div class="home__img-box">
                     <img src="../assets/images/home/ice-bear-seal.webp" alt="profile avatar">
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="about padding" id="about">
         <div class="container">
            <div class="row">
               <div class="title">
                  <h2>about me</h2>
               </div>
            </div>
            <div class="row">
               <div class="p-15 col-12 col-md-5">
                  <div class="about__img-box border-40">
                     <img src="../assets/images/about/ice-bear-ninja.webp" alt="">
                  </div>
               </div>
               <div class="about__text p-15 col-12 col-md-7">
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid deserunt nostrum facilis
                     aspernatur ut quo nihil soluta hic optio ipsam voluptates laboriosam nulla illo sit, vero vel ex
                     error recusandae vitae. Earum cumque non temporibus quaerat repellat quos amet itaque. Illum
                     numquam iure laudantium officiis? Eum accusantium natus sunt atque!</p>
                  <h3>skills</h3>
                  <div class="skills">
                     <p class="skills-item">HTML</p>
                     <p class="skills-item">CSS</p>
                     <p class="skills-item">javascript</p>
                     <p class="skills-item">react</p>
                     <p class="skills-item">redux</p>
                     <p class="skills-item">jquery</p>
                     <p class="skills-item">Sass, less, stylus</p>
                     <p class="skills-item">bootstrap</p>
                     <p class="skills-item">BEM-methodology</p>
                     <p class="skills-item">node JS</p>
                     <p class="skills-item">git</p>
                     <p class="skills-item">ctrl + c ctrl + v</p>
                  </div>
                  <div class="about-tabs">
                     <button type="button" class="tab-item active" data-target="#education">education</button>
                     <button type="button" class="tab-item" data-target="#experience">experience</button>
                  </div>
                  <div class="tab-content active" id="education">
                     <div class="timeline">
                        <div class="timeline-item">
                           <span class="date">2015 - 2019</span>
                           <h4>bachelor - <span> kyrgyz russian slavic university</span></h4>
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam autem blanditiis ipsam
                              corporis fugiat dolorum.</p>
                        </div>
                        <div class="timeline-item">
                           <span class="date">2020 - present</span>
                           <h4>IT-run academy</h4>
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam autem blanditiis ipsam
                              corporis fugiat dolorum.</p>
                        </div>
                     </div>
                  </div>
                  <div class="tab-content" id="experience">
                     <div class="timeline">
                        <div class="timeline-item">
                           <span class="date">2020 - present</span>
                           <h4>web developer - <span>as a mentor at the IT-Run academy</span></h4>
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam autem blanditiis ipsam
                              corporis fugiat dolorum.</p>
                        </div>
                     </div>
                  </div>
                  <a href="#" target="_blank" class="btn">download cv</a>
                  <a href="#contact" class="btn link-item">contact me</a>
               </div>
            </div>
         </div>
      </section>
      <section class="portfolio padding" id="portfolio">
         <div class="container">
            <div class="row">
               <div class="title">
                  <h2>recent work</h2>
               </div>
            </div>
            <div class="row">
               <div class="portfolio-item col-12 col-md-6 col-lg-4">
                  <img class="portfolio-item-img" src="../assets/images/portfolio/cuba.webp" alt="">
                  <h3 class="portfolio-item-title">Cuba</h3>
                  <a href="https://amantaysv.github.io/ministry-of-education-and-science/" target="_blank"
                     class="btn">View online</a>
                  <div class="portfolio-item-details">
                     <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi pariatur officiis modi
                           debitis error animi corporis nostrum! Fugiat corporis porro mollitia accusamus, aspernatur
                           saepe. Facilis deserunt ullam eligendi adipisci. Maxime laboriosam expedita fuga dignissimos,
                           perspiciatis nobis voluptatibus dolores repellat asperiores!</p>
                     </div>
                     <div class="general-info">
                        <ul>
                           <li>Created - <span>May 2, 2021</span></li>
                           <li>Technologies Used - <span>HTML, CSS, Javascript, jQuery, Bootstrap, OwnCarousel,
                                 AOS</span></li>
                           <li>View Online <span><a href="https://amantaysv.github.io/cuba"
                                    target="_blank">amantaysv.github.io/cuba</a></span>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="portfolio-item col-12 col-md-6 col-lg-4">
                  <img class="portfolio-item-img" src="../assets/images/portfolio/min-obraz.webp" alt="">
                  <h3 class="portfolio-item-title">Ministry of Education</h3>
                  <a href="https://amantaysv.github.io/ministry-of-education-and-science/" target="_blank"
                     class="btn">View online</a>
                  <div class="portfolio-item-details">
                     <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi pariatur officiis modi
                           debitis error animi corporis nostrum! Fugiat corporis porro mollitia accusamus, aspernatur
                           saepe. Facilis deserunt ullam eligendi adipisci. Maxime laboriosam expedita fuga dignissimos,
                           perspiciatis nobis voluptatibus dolores repellat asperiores!</p>
                     </div>
                     <div class="general-info">
                        <ul>
                           <li>Created - <span>Apr 28, 2021</span></li>
                           <li>Technologies Used - <span>HTML, CSS, Javascript, jQuery, Bootstrap, Slick-Slider,
                                 FancyBox</span></li>
                           <li>View Online <span><a
                                    href="https://amantaysv.github.io/ministry-of-education-and-science/"
                                    target="_blank">amantaysv.github.io/ministry-of-education-and-science</a></span>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="portfolio-item col-12 col-md-6 col-lg-4">
                  <img class="portfolio-item-img" src="../assets/images/portfolio/todo.webp" alt="">
                  <h3 class="portfolio-item-title">to do list react app</h3>
                  <a href="https://amantay-todo-list-app-redux.herokuapp.com/" target="_blank" class="btn">View
                     online</a>
                  <div class="portfolio-item-details">
                     <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi pariatur officiis modi
                           debitis error animi corporis nostrum! Fugiat corporis porro mollitia accusamus, aspernatur
                           saepe. Facilis deserunt ullam eligendi adipisci. Maxime laboriosam expedita fuga dignissimos,
                           perspiciatis nobis voluptatibus dolores repellat asperiores!</p>
                     </div>
                     <div class="general-info">
                        <ul>
                           <li>Created - <span>apr 5, 2021</span></li>
                           <li>Technologies Used - <span>HTML, CSS, JavaScript, React, Redux</span></li>
                           <li>View Online <span><a href="https://amantay-todo-list-app-redux.herokuapp.com/"
                                    target="_blank">amantay-todo-list-app-redux.herokuapp.com</a></span></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="portfolio-item col-12 col-md-6 col-lg-4">
                  <img class="portfolio-item-img" src="../assets/images/portfolio/weather.webp" alt="">
                  <h3 class="portfolio-item-title">weather react app</h3>
                  <a href="https://amantay-weather.herokuapp.com/" target="_blank" class="btn">View online</a>
                  <div class="portfolio-item-details">
                     <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi pariatur officiis modi
                           debitis error animi corporis nostrum! Fugiat corporis porro mollitia accusamus, aspernatur
                           saepe. Facilis deserunt ullam eligendi adipisci. Maxime laboriosam expedita fuga dignissimos,
                           perspiciatis nobis voluptatibus dolores repellat asperiores!</p>
                     </div>
                     <div class="general-info">
                        <ul>
                           <li>Created - <span>Feb 10, 2021</span></li>
                           <li>Technologies Used - <span>HTML, CSS, JavaScript, React</span></li>
                           <li>View Online <span><a href="https://amantay-weather.herokuapp.com/"
                                    target="_blank">amantay-weather.herokuapp.com</a></span></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="portfolio-item col-12 col-md-6 col-lg-4">
                  <img class="portfolio-item-img" src="../assets/images/portfolio/mavic.webp" alt="">
                  <h3 class="portfolio-item-title">Mavic</h3>
                  <a href="https://amantaysv.github.io/mavic" target="_blank" class="btn">View online</a>
                  <div class="portfolio-item-details">
                     <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi pariatur officiis modi
                           debitis error animi corporis nostrum! Fugiat corporis porro mollitia accusamus, aspernatur
                           saepe. Facilis deserunt ullam eligendi adipisci. Maxime laboriosam expedita fuga dignissimos,
                           perspiciatis nobis voluptatibus dolores repellat asperiores!</p>
                     </div>
                     <div class="general-info">
                        <ul>
                           <li>Created - <span>Feb 10, 2021</span></li>
                           <li>Technologies Used - <span>HTML, CSS, Javascript, jQuery, Bootstrap</span></li>
                           <li>View Online <span><a href="https://amantaysv.github.io/mavic"
                                    target="_blank">amantaysv.github.io/mavic</a></span></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="portfolio-item col-12 col-md-6 col-lg-4">
                  <img class="portfolio-item-img" src="../assets/images/portfolio/portfolio.webp" alt="">
                  <h3 class="portfolio-item-title">Portfolio</h3>
                  <a href="https://amantaysv.github.io/portfolio" target="_blank" class="btn">View online</a>
                  <div class="portfolio-item-details">
                     <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi pariatur officiis modi
                           debitis error animi corporis nostrum! Fugiat corporis porro mollitia accusamus, aspernatur
                           saepe. Facilis deserunt ullam eligendi adipisci. Maxime laboriosam expedita fuga dignissimos,
                           perspiciatis nobis voluptatibus dolores repellat asperiores!</p>
                     </div>
                     <div class="general-info">
                        <ul>
                           <li>Created - <span>Jan 25, 2021</span></li>
                           <li>Technologies Used - <span>HTML, CSS, Javascript, jQuery, Bootstrap, VantaJS</span></li>
                           <li>View Online <span><a href="https://amantaysv.github.io/portfolio"
                                    target="_blank">amantaysv.github.io/portfolio</a></span></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="portfolio-item col-12 col-md-6 col-lg-4">
                  <img class="portfolio-item-img" src="../assets/images/portfolio/repair.webp" alt="">
                  <h3 class="portfolio-item-title">Repair Design Project</h3>
                  <a href="https://amantaysv.github.io/repair-design-project/" target="_blank" class="btn">View
                     online</a>
                  <div class="portfolio-item-details">
                     <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi pariatur officiis modi
                           debitis error animi corporis nostrum! Fugiat corporis porro mollitia accusamus, aspernatur
                           saepe. Facilis deserunt ullam eligendi adipisci. Maxime laboriosam expedita fuga dignissimos,
                           perspiciatis nobis voluptatibus dolores repellat asperiores!</p>
                     </div>
                     <div class="general-info">
                        <ul>
                           <li>Created - <span>Jan 12, 2021</span></li>
                           <li>Technologies Used - <span>HTML, CSS, Javascript, jQuery, Bootstrap, FancyBox,
                                 OwlCarousel</span></li>
                           <li>View Online <span><a href="https://amantaysv.github.io/repair-design-project/"
                                    target="_blank">amantaysv.github.io/repair-design-project</a></span>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="portfolio-item col-12 col-md-6 col-lg-4">
                  <img class="portfolio-item-img" src="../assets/images/portfolio/online-store.webp" alt="">
                  <h3 class="portfolio-item-title">Online-Store</h3>
                  <a href="https://amantaysv.github.io/Online-Store/" target="_blank" class="btn">View online</a>
                  <div class="portfolio-item-details">
                     <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi pariatur officiis modi
                           debitis error animi corporis nostrum! Fugiat corporis porro mollitia accusamus, aspernatur
                           saepe. Facilis deserunt ullam eligendi adipisci. Maxime laboriosam expedita fuga dignissimos,
                           perspiciatis nobis voluptatibus dolores repellat asperiores!</p>
                     </div>
                     <div class="general-info">
                        <ul>
                           <li>created - <span>jan 9, 2021</span></li>
                           <li>technologies used - <span>HTML, CSS, Javascript, jQuery, bootstrap, owl-carousel</span>
                           </li>
                           <li>view online <span><a href="https://amantaysv.github.io/Online-Store/"
                                    target="_blank">amantaysv.github.io/online-store</a></span>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="portfolio-item col-12 col-md-6 col-lg-4">
                  <img class="portfolio-item-img" src="../assets/images/portfolio/it-studio.webp" alt="">
                  <h3 class="portfolio-item-title">IT-Studio</h3>
                  <a href="https://amantaysv.github.io/it-studio" target="_blank" class="btn">View online</a>
                  <div class="portfolio-item-details">
                     <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi pariatur officiis modi
                           debitis error animi corporis nostrum! Fugiat corporis porro mollitia accusamus, aspernatur
                           saepe. Facilis deserunt ullam eligendi adipisci. Maxime laboriosam expedita fuga dignissimos,
                           perspiciatis nobis voluptatibus dolores repellat asperiores!</p>
                     </div>
                     <div class="general-info">
                        <ul>
                           <li>Created - <span>Dec 24, 2020</span></li>
                           <li>Technologies Used - <span>HTML, CSS, Javascript, jQuery, Bootstrap, FancyBox, AOS</span>
                           </li>
                           <li>View Online <span><a href="https://amantaysv.github.io/it-studio"
                                    target="_blank">amantaysv.github.io/it-studio</a></span>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="portfolio-item col-12 col-md-6 col-lg-4">
                  <img class="portfolio-item-img" src="../assets/images/portfolio/witcher.webp" alt="">
                  <h3 class="portfolio-item-title">Witcher</h3>
                  <a href="https://amantaysv.github.io/Witcher" target="_blank" class="btn">View online</a>
                  <div class="portfolio-item-details">
                     <div class="description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi pariatur officiis modi
                           debitis error animi corporis nostrum! Fugiat corporis porro mollitia accusamus, aspernatur
                           saepe. Facilis deserunt ullam eligendi adipisci. Maxime laboriosam expedita fuga dignissimos,
                           perspiciatis nobis voluptatibus dolores repellat asperiores!</p>
                     </div>
                     <div class="general-info">
                        <ul>
                           <li>Created - <span>Dec 14, 2020</span></li>
                           <li>Technologies Used - <span>HTML, CSS, Javascript, jQuery, Bootstrap, FancyBox, AOS</span>
                           </li>
                           <li>View Online <span><a href="https://amantaysv.github.io/Witcher"
                                    target="_blank">amantaysv.github.io/Witcher</a></span>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="contact padding" id="contact">
         <div class="container">
            <div class="row">
               <div class="title">
                  <h2>contact me</h2>
               </div>
            </div>
            <div class="row">
               <div class="contact-form col-12 col-md-6">
                  <form>
                     <div class="row">
                        <label class="label">
                           <input class="input" type="text" autocomplete="none" placeholder="Name" required>
                        </label>
                        <label class="label">
                           <input class="input" type="email" autocomplete="none" placeholder="Email" required>
                        </label>
                        <label class="label">
                           <input class="input" type="text" autocomplete="none" placeholder="Subject" required>
                        </label>
                        <label class="label">
                           <textarea placeholder="Message" class="input textarea" required></textarea>
                        </label>
                        <label>
                           <button type="submit" class="btn">send message</button>
                        </label>
                     </div>
                  </form>
               </div>
               <div class="contact-info col-12 col-md-6">
                  <div class="contact-info-item">
                     <h3>email</h3>
                     <p>amantay.sv@gmail.com</p>
                  </div>
                  <div class="contact-info-item">
                     <h3>phone</h3>
                     <p>+996558789777</p>
                  </div>
                  <div class="contact-info-item">
                     <h3>follow me</h3>
                     <ul class="social-nav">
                        <li class="social-item">
                           <a href="https://www.linkedin.com/in/amantay-suranaliev-7762a1203/" target="_blank"
                              class="social-link"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li class="social-item">
                           <a href="#" target="_blank" class="social-link"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="social-item">
                           <a href="#" target="_blank" class="social-link"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="social-item">
                           <a href="#" target="_blank" class="social-link"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="social-item">
                           <a href="#" target="_blank" class="social-link"><i class="fab fa-instagram"></i></a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
   <div class="portfolio-popup">
      <div class="portfolio-popup-inner">
         <div class="portfolio-popup-content border-40">
            <div class="portfolio-popup-header">
               <button type="button" class="btn portfolio-popup-close"><i class="fas fa-times"></i></button>
               <div class="portfolio-popup-thumbnail">
                  <img src="" alt="">
               </div>
               <h3></h3>
            </div>
            <div class="portfolio-popup-body"></div>
         </div>
      </div>
   </div>
   <div class="overlay"></div>
   <div class="page-loader">
      <div></div>
      <div></div>
      <div></div>
   </div>
   <div class="bg-circles">
      <div class="circle-1"></div>
      <div class="circle-2"></div>
      <div class="circle-3"></div>
      <div class="circle-4"></div>
      <div class="circle-5"></div>
   </div>
   <!-- disigned by Amantay -->
   <script src="../assets/js/main.js"></script>
</body>

</html>